# Ignore .env files
.env
*.env

# Ignore .conda directory and files
.conda/
*.conda

Dynamics365Commerce.InStore-release-9.52.zip
Dynamics365Commerce.ScaleUnit-release-9.52.zip
Dynamics365Commerce.Solutions-release-9.52.zip
Dynamics365Commerce.InStore-release-9.52
Dynamics365Commerce.ScaleUnit-release-9.52
Dynamics365Commerce.Solutions-release-9.52